/*
    Fonts
*/
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700italic,800,800italic,700,600italic");

/*
    General
*/

body {
    font-family: 'Open Sans', sans-serif;
    background: #F8F8F8;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    /*font-family: 'Merriweather', serif;*/
}

p {
    margin: 0 0 10px 0;
    line-height: 22px;
}

a {
    color: #FF7C26;
}


/*
    Navbar
*/
.navbar {
    background-color: #fff;
    /*border-color: #e7e7e7;*/
    border-radius: 0;
    border: none;
    border-top: 1px solid #EFEFEF;
}

.navbar-brand {
    color: #777;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-text {
    color: #000;
}
.navbar-nav > li > a {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    -webkit-transition: none;
    transition: none;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #000;
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding: 0;
        margin: 15px 30px;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-nav > li > a {
        border-bottom: 2px solid transparent;
    }
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus,
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        border-bottom: 2px solid #dfd7ca;
    }
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

/*
    Buttons
*/

.btn {
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
}

.btn-primary {
    background: #000;
    border-color: #000;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #000;
    color: #fff;
}


/*
    Forms
*/

.form-control {
    border-radius: 0;
    box-shadow: none;
    height: 37px;
}

.form-control.input-sm {
    height: 30px;
}

.form-control:focus {
    border-color: #7F7F7F;
    box-shadow: none;
}

select.form-control {
    padding: 7px 8px;
}

.form-inline .form-group p {
    margin: 10px;
}

.form-group .nav {
    margin-bottom: 15px;
}

/*
    Grid
 */

.grid-view table > thead > tr > th {
    text-align: center;
}

.grid-view .summary {
    font-size: 85%;
    text-align: right;
}

/*
    Sort
 */

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113";
}

a.desc:after {
    content: "\e114";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}


/*
    Other
 */

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

hr {
    border-top-color: #dfd7ca;
}

/*
    News
*/

.news-content {
    text-align: justify;
}

.news-view h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.news-view .news-body {
    margin-top: 20px;
}